#page-two-section{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 120px;
  padding-bottom: 100px;
}

.about-me,
.skills-list{
  font-size: var(--about-and-skills-fsize);
  background: #1010103b;
  border: 1px solid rgba(255, 255, 255, 0.088);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  padding: 18px;
  line-height: 1.4em;
}

.about-me{
  color: var(--font-color);
}

.skills-list{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  color: var(--font-color);
  list-style: none;
}

.skills-list li{
  display: flex;
  width: 100%;
}

@media(width >= 900px){
  #page-two-section{
    flex-direction: row;
    justify-content: space-between;
    margin-top: 170px;
  }

  .about-me,
  .skills-list{
    height: 100%;
    width: fit-content;
    max-width: 33%;
    border: none;
    line-height: 1.5em;
    background: none;
    backdrop-filter: blur(0px);
    padding: 10px;
  }

  .skills-list li{
    justify-content: flex-end; 
  }
}


@media(width >= 1050px){
  #page-two-section{
    margin-top: 190px;
  }

  .about-me,
  .skills-list{
    max-width: 29%;
  }
}