#page-one-section{
  display: none;
}

.name{
  color: var(--font-color);
  text-align: center;
  font-size: var(--name-fsize);
  margin-top: 7.6rem;
  z-index: -10;
}

@media(width >= 800px){
  .name{
    margin-top: 6.1rem;
  }
}