:root{
  --main-color: white;
  --font-color: #716B6B;
  --accent-color: #5AB8C9;

  --header-fsize: clamp(13px, 1.9vw, 15px);
  --arrows-fsize: clamp(13px, 1.9vw, 15px);
  --name-fsize: clamp(40px, 11vw, 80px);
  --about-and-skills-fsize: clamp(16px, 8vw, 25px);
  --project-heading-fsize: 25px;
  --project-title-fsize: clamp(16px, 89vw, 25px);
  --project-description-fsize: clamp(14px, 6vw, 16px);
  --project-btn-fsize: clamp(12px, 6vw, 14px);
  --contact-form-fsize: 20px;
  --copyright-txt-fsize: clamp(12px, 7vw, 26px);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  width: 100%
}

a{
  text-decoration: none;
}

html{
  height: 100%;
}

body{
  height: 100%;
  background-color: black;
  font-family: "Inter", sans-serif;
}

.main-wrapper{
  --wrapper-max-width: 1300px;
  --wrapper-padding: 9%;

  position: relative;
  width: min(var(--wrapper-max-width), 100% - var(--wrapper-padding));
  height: 100%;
  margin-inline: auto;
  padding-top: 1rem;
}

.background-maneqquin{
  position: fixed;
  pointer-events: auto;
  background: transparent;
  height: 108%;
  width: 100%;
  top: 0;
  will-change: transform;
  z-index: 2;
}

.arrows-container{
  position: absolute;
  width: 100%;
  bottom: 35px;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.arrows-container__arrow{
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.arrows-container__arrow-label{
  color: var(--main-color);
  font-size: var(--arrows-fsize);
  font-weight: 700;
}

.arrows-container__arrow-icon{
  --size: clamp(8px, 3.5vw, 15px) ;

  height: var(--size);
  width: var(--size);
}

.arrows-container__arrow-icon:first-child{
  rotate: 180deg;
}

.content-element{
  z-index: 3;
}


