header{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header__logo{
  display: flex;
  align-items: center;
  gap: 10px;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  width: fit-content;
}

.header__logo-icon{
  width: clamp(24px, 2.3vw, 27px);
  height: clamp(19px, 1.8vw, 20px);
}

.header__logo-label{
  color: var(--main-color);
  font-size: var(--header-fsize);
  font-weight: 700;
}

.header__socmed-list{
  position: absolute;
  top: 33px;
  display: flex;
  width: fit-content;
  row-gap: 4px;
  column-gap: 8px;
  backdrop-filter: blur(15px);
  border-radius: 8px;
}

.socmed-list__link{
  cursor: pointer;
}

.socmed-list__link-icon{
  --size: clamp(19px, 3.7vw, 25px );
  height: var(--size);
  width: var(--size);
}

.header__contact-btn{
  font-size: var(--header-fsize);
  text-align: center;
  color: #000000;
  background-color: #5AB8C9;
  font-weight: 700;
  width: clamp(90px, 21vw, 130px);
  height: fit-content;
  border-radius: 8px;
  padding: 4px 0;
  cursor: pointer;
}

@media(width >= 500px){
  .header__socmed-list{
    position: relative;
    top: 0;
    flex-direction: row;
    padding: 0 5px;
  }
}