header{
  position: relative;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  animation: fade-in 2s forwards;
  animation-delay: 0.5s;
}

.header__logo{
  display: flex;
  align-items: center;
  gap: 10px;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  width: fit-content;
  padding-right: 4px;
}

.header__logo-icon{
  width: clamp(1.5rem, 2.3vw, 1.6875rem); 
  height: clamp(1.1875rem, 1.8vw, 1.25rem);
}

.header__logo-label{
  color: var(--main-color);
  font-size: var(--header-fsize);
  font-weight: 700;
}

.header__socmed-list{
  position: absolute;
  top: 31px;
  display: flex;
  width: fit-content;
  column-gap: 8px;
  backdrop-filter: blur(15px);
  border-radius: 8px;
  padding-right: 3px;
}

.socmed-list__link{
  cursor: pointer;
}

.socmed-list__link-icon{
  --size: clamp(19px, 3.7vw, 25px );
  height: var(--size);
  width: var(--size);
}

.header__contact-btn{
  font-size: var(--header-fsize);
  text-align: center;
  color: #000000;
  background-color: #5AB8C9;
  font-weight: 700;
  width: clamp(90px, 21vw, 130px);
  height: fit-content;
  border-radius: 8px;
  padding: 4px 0;
  cursor: pointer; 
  padding-right: 3px;
}

@media(width >= 31.25em /* 500px */){
  .header__socmed-list{
    position: relative;
    top: 0;
    flex-direction: row;
    padding: 0 5px;
    column-gap: 10px;
  }

  .socmed-list__link{
    padding-top: 3.2px;
  }
}

@keyframes fade-in{
  to{
    opacity: 1;
  }
}
